<div class="scene mainContainer">
    <div class="appContainer">
        
       
        <div class="appItem"  *ngFor="let c of chartdata">{{c.apptitle}}</div>
        
    
    
</div>
    <div class="box show-bottom">
        <div class="box__face box__face--front category1"></div>
        <div class="box__face box__face--back category1"></div>
        <div class="box__face box__face--right category1"></div>
        <div class="box__face box__face--left category1"></div>
        <div class="box__face box__face--top category1"></div>
        <div class="box__face box__face--bottom category1-caption">System of Innovation</div>
    </div>
</div>