<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="dist/js/bootstrap-submenu.js" defer></script>
  <script>
    (function($){
      $(document).ready(function(){
        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
          event.preventDefault(); 
          event.stopPropagation(); 
          $(this).parent().siblings().removeClass('open');
          $(this).parent().toggleClass('open');
        });
      });
    })(jQuery);
    </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color: #0f4068;">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: white;" href="#">PaceLayer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Diagnose
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Current State Digital maturity assessment</a></li>
          <li><a href="#">Level of Readiness</a></li>
          <li><a href="#">Customer Experience Map</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Define
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Create Client Digital Strategy</a></li>
          <li><a href="#">Define Scope(Portfolio/Domain)</a></li>
          <li><a href="#">Define Roles & Responsibilities</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Determine
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Document Client Goal's & KPI's</a></li>
          <li><a href="#">Identify Business Capabilities and Processes</a></li>
          <li><a routerLink="/InventoryApplications" routerLinkActive="active">InventoryApplications</a></li>
          <li><a routerLink="/mapbusinessprocessapplication" routerLinkActive="active">MapBusinessProcess</a></li>
          <li><a href="#">Map Applications and Business Process</a></li>
        </ul>
      </li>
      <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Dropdown 4</a> 
        <ul class="dropdown-menu">
          <li><a href="#">Dropdown Submenu 4.1</a></li>
          <li><a href="#">Dropdown Submenu 4.2</a></li>
          <li><a href="#">Dropdown Submenu 4.3</a></li>
          <li><a href="#">Dropdown Submenu 4.4</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Deliver
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Identify Improvement Opportunities for Digital</a></li>
          <li><a href="#">Define Digital Roadmap Work Initiatives</a></li>
          <li><a href="#">Digital Strategy Roadmap</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

</body>
</html>
