<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

</head>

<body>

  <div></div>
  <br>

  <form [formGroup]="form"
    style="width: 1170px;margin-left: 90px; background-color: #fff;border: #31708F solid 1px;margin-top:-39px;">

    <div class="container" style="width: 1170px;">
<table>
    <thead class="div">
        <tr>
          <th>Portfolio</th>
          <th>Business Process</th>
          <th>Process Description</th>
          <th>Support Level</th>
        </tr>
      </thead>
    <tbody class="div">
    <tr *ngFor="let dg of Tabledata; let i=index">
        <td style="width: 250px;" class="form-group">


            <select  class="btn btn-default textbackgroundcolor" (change)="Onchangedropdown($event.target.value)"
             formControlName="PortfolioID" ng-model="mapData" style="width: 250px;">
              <option value="">{{dg.Portfolio}}</option>
              <option *ngFor="let m of mapData;" value={{m.ID}}>{{m.Portfolio}}</option>
            </select>
            

          </td>
          <td style="width: 250px;" class="form-group">

            <select  class="btn btn-default textbackgroundcolor"
            
            formControlName="BPID" ng-model="BPData" style="width: 250px;">
              <option value="">{{dg.PrcCaption}}</option>
              <option *ngFor="let bp of BPData; let k=index" value={{bp.ID}}>{{bp.PrcCaption}}</option>
            </select>
            
          </td>

          <td style="width: 250px;" class="form-group">

            <select  class="btn btn-default textbackgroundcolor" formControlName="ApplicationID" 
            ng-model="ApplicationData"  (change)="OnchangeAppdropdown($event.target.value)" 
              style="width: 250px;" >
           <option value="">{{dg.AppTitle}}</option>
            <option *ngFor=" let app of ApplicationData; let j=index" value={{app.ID}}>{{app.appTitle}}</option>
            </select>
            
          </td>
          <td style="width: 250px;" class="form-group">
           <select  class="btn btn-default textbackgroundcolor" 
            formControlName="SupportLevelID" ng-model="SupprtLevel" style="width: 250px;">
              <option value="">{{dg.Support}}</option>
              <option *ngFor="let sl of SupportLevel; let m = index" value={{sl.ID}}>{{sl.Caption}}</option>
            </select>
            
          </td>
    </tr>
</tbody>
</table>
<div class="col-sm-2">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()"
      style="width: 120px;background-color: #31708F">
      <strong>Edit Process!</strong>
    </button>
  </div>
  <div>
      <button type="reset" class="btn btn-primary" (click)="Cancel()" 
      style="width: 120px;background-color: #31708F">
    <strong>Cancel</strong>
    </button>
  </div>
    </div>
  </form>
</body>
</html>