
<div class="container" >
    
    <div class="row" style="margin-top:-39px; width: 1170px; background-color: #31708F;
     color:#fff !important;  height: 40px;">
        <div class="col-sm-4" style="margin-top: 8px;font-family: tahoma, verdana, arial; font-weight: bold;">
Configuration Application

</div>
<div class="col-sm-4" style="margin-top: 3px;">
    
    <input type="button" class="textbox"  value="Clear Data"/>&nbsp;
    <input type="button" class="textbox"  value="Get Data"/>&nbsp;
    <input type="button" class="textbox"  value="Save Data"/>
    </div>
    <div class="col-sm-4" style="margin-top: 8px;font-family: tahoma, verdana, arial;font-weight: bold;">
        Last Action: <label style="width: 60px;"></label>
        
        </div>
</div>
</div>
