<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div style="height: 20px;"></div>
<app-config-top-app>
</app-config-top-app>
<br>
<form style="width: 1170px;margin-left: 90px; background-color: #fff;margin-top: -19px;border: #31708F solid 1px;">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Select Portfolio/Domain</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Select Application</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Description</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Application Type</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Business Criticality</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign"> AMC Contract ? </div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Application Category </div>
                <div class="rightalign"> <input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">App. Sub-Category</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Business Owner</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">IT Owner</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Product Vendor</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Current Ver./Rel.</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Ideal Ver./Rel.</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Hardware</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign"> Platform</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Operating System</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign"> Database</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Dev.Platform</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Customization Level</div>
                <div class="dropdown rightalign">
                    <button type="button" data-toggle="dropdown" class="textbackgroundcolor">Dropdown Example
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Instance Type</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign"># Of Inbound I/F</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign"> # Of Outbound I/F</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Concurrent User #</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign"> Future Plans</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Plan Status</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Timelines for Plan</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Support Cost / mth</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Other Costs / mth</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Vendor Support Level</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Support Vendor Name</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign"> External Sup. FTE #</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign">Internal Sup. FTE #</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">Support Hours</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign"> # of Inflight Projects</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign"># of Planned Projs.</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="leftalign">User Satisfaction</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
                <div class="leftalign"> Planned Outrages/Yr.</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="leftalign"> Revenue Criticality</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
            <div class="col-md-4">
                <div class="leftalign">Regular Risk</div>
                <div class="rightalign"><input type="text" class="textbackgroundcolor" /></div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-6">
                <table style="border:1px solid black; width: 300px;">
                    <tr>
                        <th class="leftalign">Average Volume per month</th>
                    </tr>
                    <tr>
                        <td class="leftalign" style="margin-right: 30px;">IN</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                        <td class="leftalign" style="margin-right: 30px;">Problem</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                    </tr><br>
                    <tr>
                        <td class="leftalign" style="margin-right: 30px;">CR</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                        <td class="leftalign" style="margin-right: 30px;">Emergency</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                    </tr><br>
                    <tr>
                        <td class="leftalign" style="margin-right: 30px;">Release</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                        <td class="leftalign" style="margin-right: 30px;">CR</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table style="border:1px solid black; width: 300px;">
                    <tr>
                        <th class="leftalign">Average Volume per month</th>
                    </tr>
                    <tr>
                        <td class="leftalign" style="margin-right: 30px;">IN</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                        <td class="leftalign" style="margin-right: 30px;">Problem</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                    </tr><br>
                    <tr>
                        <td class="leftalign" style="margin-right: 30px;">CR</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                        <td class="leftalign" style="margin-right: 30px;">Emergency</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                    </tr><br>
                    <tr>
                        <td class="leftalign" style="margin-right: 30px;">Release</td>
                        <td class="leftalign" style="margin-right: 30px;"><input type="text" class="textbackgroundcolor"
                                style="width: 40px;" /></td>
                        <td class="leftalign" style="margin-right: 30px;">CR</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 40px;">
    </div>
</form>