<div style="text-align:center">
    <h1>
      Pace Layering Application
    </h1>
  </div>
  <div>
  <nav>
    <a routerLink="/configapp" routerLinkActive="active">Main UI</a>
    &nbsp;
  <a routerLink="/mapbusinessprocessapplication" routerLinkActive="active">MapBusinessProcess</a>
  &nbsp;
  <a routerLink="/paceLayerchart" routerLinkActive="active">PaceLayer</a>
  &nbsp;
  <a routerLink="/timeplot" routerLinkActive="active">TimePlot</a>
  </nav>&nbsp;&nbsp;&nbsp;&nbsp;
  <router-outlet></router-outlet>
  &nbsp;&nbsp;&nbsp;&nbsp;</div>