<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

</head>

<body>

  <div></div>
  <br>

  <form [formGroup]="form" (ngSubmit)="onSubmit()"
    style="width: 1170px;margin-left: 90px; background-color: #fff;border: #31708F solid 1px;margin-top:-39px;">

    <div class="container" style="width: 1170px;">

      <div class="row" style="background-color: #31708F;
   color:#fff !important;  height: 40px;">
        <div class="col-xs-4 div" style="margin-top: 8px;color: white;">
          Map Business Processes Supported by Application

        </div>
        <div class="col-xs-4 div" style="margin-top: 3px;">

        </div>
        <div class="col-xs-4 div" style="margin-top: 8px;color: white;display: none;">
          Last Action: <label style="width: 60px;" #lblMessage></label>

        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4 text-center ">
          <strong> Portfolio / Domain:</strong>
        </div>
        <div class="col-sm-6 form-group">
          <div ng-app="mainApp" ng-controller="mainCtrl">
            <select required class="btn btn-default textbackgroundcolor"
             formControlName="PortfolioID" ng-model="mapData" style="width: 465px;"
              (change)="Onchangedropdown($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.PortfolioID.errors }">

              <option *ngFor="let m of mapData;" value={{m.ID}}>{{m.Portfolio}}</option>
            </select>
            <div *ngIf="submitted && f.PortfolioID.errors" class="invalid-feedback">
              <div *ngIf="f.PortfolioID.errors.required">PortfolioID is required</div>
          </div>
          </div>
        </div>
      </div>&nbsp;
      <div class="row">
        <div class="col-sm-4 text-center">
          <strong> Application Name:</strong>
        </div>
        <div class="col-sm-6 form-group">
          <div ng-app="mainApp" ng-controller="mainCtrl">
            <select required class="btn btn-default textbackgroundcolor" 
             formControlName="ApplicationID" ng-model="ApplicationData"
              style="width: 465px;" [ngClass]="{ 'is-invalid': submitted && f.ApplicationID.errors }">

              <option *ngFor="let app of ApplicationData; let j=index" value={{app.ID}}>{{app.appTitle}}</option>
            </select>
            <div *ngIf="submitted && f.ApplicationID.errors" class="invalid-feedback">
              <div *ngIf="f.ApplicationID.errors.required">ApplicationID is required</div>
          </div>

          </div>
        </div>
      </div>&nbsp;
      <div class="row">
        <div class="col-sm-4 text-center">
          <strong>Business Process:</strong>
        </div>
        <div class="col-sm-6 form-group">
          <div ng-app="mainApp" ng-controller="mainCtrl">
            <select required class="btn btn-default textbackgroundcolor" 
             formControlName="BPID" ng-model="BPData" style="width: 465px;" [ngClass]="{ 'is-invalid': submitted && f.BPID.errors }">
              
              <option *ngFor="let bp of BPData; let k=index" value={{bp.ID}}>{{bp.PrcCaption}}</option>
            </select>
            <div *ngIf="submitted && f.BPID.errors" class="invalid-feedback">
              <div *ngIf="f.BPID.errors.required">BPID is required</div>
          </div>
          </div>
        </div>
      </div>&nbsp;
      <div class="row">
        <div class="col-sm-4 text-center">
          <strong> Support Level:</strong>
        </div>
        <div class="col-sm-6 form-group">
          <div ng-app="mainApp" ng-controller="mainCtrl">
            <select required class="btn btn-default textbackgroundcolor"
             formControlName="SupportLevelID" ng-model="SupprtLevel" style="width: 465px;" [ngClass]="{ 'is-invalid': submitted && f.SupportLevelID.errors }">
              <option *ngFor="let sl of SupportLevel; let m = index" value={{sl.ID}}>{{sl.Caption}}</option>
            </select>
            <div *ngIf="submitted && f.SupportLevelID.errors" class="invalid-feedback">
              <div *ngIf="f.SupportLevelID.errors.required">SupportLevelID is required</div>
          </div>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary" style="width: 120px;background-color: #31708F">
            <strong>Add Process!</strong>
          </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">

        </div>
      </div>
      <!--Table for display data-->
      <table #tableforddl class="table table-striped" style="display:none;">
        <thead class="div">
          <tr>

            <th>Business Process</th>
            <th>Process Description</th>
            <th>Support Level</th>
          </tr>
        </thead>
        <tbody class="div">
          <tr *ngFor="let dg of Tabledata">

            <td style="width: 250px;">{{dg.PrcCaption}}</td>
            <td style="width: 250px;">{{dg.AppTitle}}</td>
            <td style="width: 250px;">{{dg.Support}}</td>
          </tr>
        </tbody>

      </table>
      <table #tablewithoutddl class="table table-striped">
        <thead class="div">
          <tr>
            <th>Portfolio</th>
            <th>Business Process</th>
            <th>Process Description</th>
            <th>Support Level</th>
          </tr>
        </thead>
        <tbody class="div">
          <tr *ngFor="let dg of Tabledata">
            <td style="width: 250px;">{{dg.Portfolio}}</td>
            <td style="width: 250px;">{{dg.PrcCaption}}</td>
            <td style="width: 250px;">{{dg.AppTitle}}</td>
            <td style="width: 250px;">{{dg.Support}}</td>
          </tr>
        </tbody>

      </table>


    </div>
    <div style="margin-bottom: 50px;">
    </div>
  </form>

</body>

</html>